.card {
  height: 100%;
}
.card img {
  height: 13rem;
  object-fit: contain;
}
.card-body:last-of-type {
  display: inline-flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-end;
}
