.cartImages {
  width: 7.5rem;
  height: fit-content;
}

.itemCheckoutContainer {
  height: fit-content;
}
.itemImageContainer {
  max-width: fit-content;
}
.checkoutCard {
  top: 0;
  position: sticky;
}
